name: Test macOS Ansible Setup

on:
  push:
  pull_request:

jobs:
  macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Debug repo structure
        run: |
          pwd
          ls -R

      - name: Install tools
        run: |
          brew update
          brew install ansible nginx mkcert

      - name: Run Ansible playbook
        working-directory: mac
        run: |
          ansible-playbook -i inventory/hosts site.yml \
            -e "magazine=test.magsquare.com"
